<% provide(:title, 'Make It Snappy Q&A - Register')  %>

<h1>Register</h1>

<%= form_for(@user) do |f| %>
	<%= render 'common/form_errors', object: @user %>

	<p>
		<%= f.label :username %> <br />
		<%= f.text_field :username %>
	</p>

	<p>
		<%= f.label :password %> <br />
		<%= f.password_field :password  %>
	</p>

	<p>
		<%= f.label :password_confirmation, 'confirm' %> <b />
		<%= f.password_field :password_confirmation  %>
	</p>

	<p>
		<%= f.submit "Register"  %>
	</p>
<% end %> 